- var capitalize = function(s) { return s[0].toUpperCase() + s.slice(1); }
- var title = capitalize(type)
- var asmTitle = flavors[0][0]

fieldset.pane
  legend
    label
      span= capitalize(type)
      select(class=type + '-out')
        each flavor in flavors
          option(value=flavor[1])= flavor[0]
  .tabs
    tab = {group: type, title: title, checked: true}
    include tab
      textarea.style

    tab = {group: type, title: asmTitle + ' (output)', class: type + '-out'}
    include tab
      textarea(disabled=true, class=type + '-out')

