//- I have to nest radio button inside label if i don't want to generate a unique id
//- tweaking the css hurts my brain so whatever, unique id for now
tabUniqueId = Math.random().toString().replace('.','')

.tab(class=tab.class)
  input(type='radio', id=tabUniqueId, name=tab.group, checked=tab.checked)
  label(for=tabUniqueId)= tab.title
  .content
    yield
